.nav {
    color: black;
    background-color: azure;
    box-shadow: 0 4px 2px -2px gray;
}

.nav-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.active {
    /* color: blueviolet; */
    text-shadow: 0 0 3px white;
    font-weight: 700;
}

@media (max-width: 768px) {
    .nav-link span {
        display: none;
    }
}