.link2wp {
    background-color: darkmagenta;
    color: white;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link2wp a, .link2wp a:visited {
    color: white;
    text-transform: uppercase;
}