.explain {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid grey; */
}

.message {
    white-space: pre-wrap;
    text-align: start;
    font-size: x-large;
}

.choices a {
    color: white;
    border-radius: 0 90px 0 90px;
    margin: 10px 0;
    width: 200px;
}

.choices a span {
    width: 100px;
    display: inline-block;
}

#ikea {
    background-color: #FFDB00;
    color: #0058A3;
    font-weight: bold;
}

#liverpool {
    background-color: #E10098;
    color: white;
    font-weight: bold;
}

.choices a img {
    margin-left: 5px;
    vertical-align: middle;
}

.choices a span {
    vertical-align: middle;
}

.choices #nat,
.choices #osc {
    width: 100%;
    height: auto;
    border-radius: 350px;
    scale: 0.8;
}

.choices #nat {
    scale: 0.7;
}

.choices #nat,
.choices #osc {
    position: fixed;
    bottom: 0;
    width: 200px;
    animation: translate-top-resp 4s ease-out infinite;
}

.choices #nat {
    left: -70px;
}

.choices #osc {
    right: -70px;
}

@media (max-width: 768px) {
    .message {
        font-size: medium;
    }
}

@keyframes translate-top {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(50);
    }
}

@keyframes translate-top-resp {
    0% {
        transform: translateY(300px);
    }

    40% {
        transform: translateY(100px);
    }

    60% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(300px);
    }
}
