<div class="container">
    <div class="row explain">
        <img class="col-3" src="https://video-public.canva.com/VAFBm2qH9y8/v/269621d84d.gif" alt="plane" width="100">
        <div class="col-9 message">{{'Gifts.Message'|translate}}</div>
    </div>


    <div class="row choices mt-4">
        <div class="col-12 col-sm-6 text-center">
            <a class="btn" id="ikea"
                href="https://www.ikea.com/fr/fr/favourites/receive-share/10434309:1,30405042:1,00391918:1,30444468:1,30531936:1,40139321:1,00462519:1,00537992:1,10473070:1,60214343:1,50057254:1,70503620:1,60555389:1,80391882:1,30502142:1,00541461:1,10504646:1,30396288:1,20396316:1?source=favourites"
                target="_blank">
                <span>IKEA</span>
                <img src="https://media-public.canva.com/hXhQ0/MACy4chXhQ0/6/t.png" alt="FR" width="40" height="30">
            </a>

        </div>
        <div class="col-12 col-sm-6 text-center">
            <a class="btn" id="liverpool" href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51232663"
                target="_blank">
                <span>LIVERPOOL</span>
                <img src="https://media-public.canva.com/aHuQQ/MACy4baHuQQ/6/t.png" alt="MX" width="40" height="30">
            </a>

        </div>

        <div class="col-12 col-sm-6 text-center">
            <img id="nat" src="../../assets/img/N.png" alt="">
        </div>
        <div class="col-12 col-sm-6 text-center">
            <img id="osc" src="../../assets/img/O.png" alt="">
        </div>
    </div>
</div>