<div class="container">
    <div class="row d-flex align-items-center my-3">
        <div class="col-3">
            <img class="savings-img" src="https://video-public.canva.com/VADhwUuq3-w/videos/cc961caab7.gif" alt="savings">
        </div>
        <div class="col-9 message">{{'Account.Message'|translate}}</div>
    </div>


    <div class="d-flex flex-column">
        <div class="row-lab"><span class="lab">{{'Account.Bank'|translate}} :</span><span>Banco Santander</span></div>
        <div class="row-lab"><span class="lab">{{'Account.Number'|translate}} :</span><span>60-62842658-9</span></div>
        <div class="row-lab"><span class="lab">{{'Account.Key'|translate}} :</span><span>014180606284265890</span></div>
        <div class="row-lab"><span class="lab">{{'Account.Owner'|translate}} :</span><span>Natalia Moreno Verduzco</span></div>
        <div class="row-lab"><span class="lab">{{'Account.Address'|translate}} :</span><span>Calle Encinos 124 Diamante 6, Colonia Miguel Hidalgo, Tlalpan, Ciudad de México, Cp. 14250</span></div>
        <div class="row-lab"><span class="lab">{{'Account.Phone'|translate}} :</span><span>+525527292928</span></div>
        <div class="row-lab"><span class="lab">{{'Account.BIC'|translate}} :</span><span>BMSXMXMMXXX</span></div>
        <div class="row-lab"><span class="lab">{{'Account.BankKey'|translate}} :</span><span>5808</span></div>
    </div>
    

</div>